@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  width: 100%;
  height: 100%;
}

/* HEADER */

.link {
  position: relative;
  transition: all 300ms ease;
}

.link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  height: 1px;
  width: 0%;

  background-color: black;
  transition: width 300ms ease;
}

.link:hover::after {
  width: 100%;
}

.blue-link {
  position: relative;
  transition: all 300ms ease;
}

.blue-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  height: 1px;
  width: 0%;

  background-color: #3b82f6;
  transition: width 300ms ease;
}

.blue-link:hover::after {
  width: 100%;
}

/* SEARCH BAR */
.search-bar .focus-visible {
  --tw-ring-offset-shadow: none;
  --tw-ring-shadow: none;
}
